.main-page-wrapper{
    width: 100vw;
    height: 100vh;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.main-page-content__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    padding: 164px 0px 64px 0px;
}
.main-page-content__btn{
    width: 320px;
    height: 64px;
    background: #6333FB;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    transition: ease-in-out .4s all;
    color: #fff;
    text-decoration: none;
}

.main-page-content__btn:hover {
    color: #000000;
    background: none;
    border: 2px solid #6333FB;
}