.form {
    padding: 30px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #313131;
}

.login-page-wrapper{
    box-sizing: border-box;
    width: 100vw;
    padding: 0px 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    padding-top: 75px;
    margin-bottom: 15px;
}

.form-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 40px 0px;
}

.form-container__input {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: 50px;
    background: #000000;
    margin-bottom: 45px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.form-btn {
    max-width: 100%;
    width: 150px;
    height: 60px;
    background: #6333FB;
    border: none;
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
    transition: ease-in-out .2s all;
}
.form-btn:hover{
    opacity: .8;
}

.form-link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 35px;
}


/* MEDIA QUERY */
@media (max-width: 768px) {
    .form {
        height: 470px;
    }
    .form-title {
        padding-top: 20px;
        margin-bottom: 5px;
    }
}